fastapi==0.115.12
uvicorn[standard]==0.34.0
pydantic==2.10.5
pydantic-settings==2.7.1
psycopg2-binary==2.9.10
sqlalchemy==2.0.36
redis==5.2.1
pandas==2.2.3
numpy==2.2.3
python-dateutil==2.9.0
pylint==3.2.7
